<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.video.mapper.UserMapper">
    <!--<select id="findbyid" parameterType="Integer" resultMap="StudentResult">  -->
        <!--select *from student where id=#{id}  -->
    <!--</select>-->

    <!--<select id="findbygradeid" parameterType="Integer" resultMap="StudentResult">  -->
        <!--select *from student where gid=#{gid}  -->
    <!--</select>-->

    <!--<resultMap type="Student" id="StudentResult">-->
    <!--<id property="id" column="id"/>-->
    <!--<result property="name" column="name"/>-->
    <!--<result property="age" column="age"/>-->
    <!--<association property="address" column="addid" select="com.qbd.mapper.AddressMappers.findbyid">-->
    <!--</association>-->
    <!--<association property="grade" column="gid" select="com.qbd.mapper.GradeMappers.findbyid">-->
    <!--</association>-->
    <!--</resultMap>-->

   <resultMap type="cn.video.pojo.User" id="userBaseResMap">
    <id property="id" column="id"/>
     <result property="phone" column="phone"/>
     <result property="password" column="password"/>
     <result property="email" column="email"/>
     <result property="head_picture" column="head_picture"/>
     <result property="name" column="name"/>
     <result property="signature" column="signature"/>
    </resultMap>

    <select id="queryAll" resultMap="userBaseResMap">
        select * from users;
    </select>

    <select id="selectByPhone" resultType="cn.video.pojo.User">
    select * from  users where phone = #{phone}
    </select>

    <insert id="insertUser" parameterType="cn.video.pojo.User">
      insert into users
      <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null">phone,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="name != null">name,</if>
            <if test="signature != null">signature,</if>
            <if test="head_picture != null">head_picture,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
            <if test="email != null">#{email,jdbcType=VARCHAR},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="signature != null">#{signature,jdbcType=VARCHAR},</if>
            <if test="head_picture != null">#{head_picture,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
</mapper>